{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'blog_view.css' %}">
  <link rel="stylesheet" href="{% static 'blog_view2.css' %}">
<body>
  <div class="button-container">
    <button type="button" onclick="toggleForm()">Open Form</button>
</div>
<div id="popup-form" class="form-container">
    <form>
        <div>
            <label for="published-url">Published URL:</label>
            <input type="text" id="published-url" name="published-url">
            <button type="button" onclick="copyUrl()">Copy URL</button>
        </div>

        <div>
          <a href="{% url 'edit_blog' id %}">
            <button type="button">Edit</button>
          </a>
          <a href="{% url 'view_blog' id %}">

            <button type="button">Preview</button>
          </a>

        </div>

        <div>
            <label for="read-permissions">Read Permissions:</label>
            <select id="read-permissions" name="read-permissions" onchange="change_perm()">
                <option value="everyone">Everyone</option>
                <option value="onlyme">Only Me</option>
                <option value="signed-in-users">Signed-in Users</option>
            </select>
        </div>

        <div>
            <label for="write-permissions">Write Permissions:</label>
            <select id="write-permissions" name="write-permissions" onchange="change_perm()">
                <option value="everyone">Everyone</option>
                <option value="onlyme">Only Me</option>
                <option value="signed-in-users">Signed-in Users</option>
            </select>
        </div>
    </form>
</div>
<div class="infobox">
<h2 style="text-align: center;">Popular post from this blog</h2>
<h3 id = date>{{date}}</h3>

{% comment %} This will apply the resized image to the background of every page that referances the stylesheet. if for example you want it to only be on one page kinda like twitter has it only on their landing page and not all the others. you can easly accomplish this by changing the css rule to:
 <br>
 <br>
"body.landing" instead of just "body" ("landing" can be anything you want)
<br>
  <br>
then on the desired page you body tag should look like this: {% endcomment %}
<br><br>
<body class="landing" style="text-align: center;"> {{ blog|safe }} <body >
<br><br>
</div>
{% comment %} <div class="container">
    
  <a href="{% url 'publish_url' id=id %}" class="back-button"><b>Publish Blog</b></a>
</div> {% endcomment %}
{% comment %} {% if published_url %}
<div class="container">
    
  <a href="{% url 'publish_url' id=id %}" class="back-button"><b>{{ published_url }}</b></a>
</div>
{% endif %} {% endcomment %}
{% comment %} <button onclick="display_url()">Publish</button>
<div id="pub_url">url_elem</div> {% endcomment %}

<script src="{% static 'view_blog.js' %}"> </script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<script  src="{% static 'blog_view.js' %}" ></script>

</body>
<div class="container">
    
    <a href="{% url 'dashboard' %}" class="back-button"><b>&larr; Back</b></a>
</div>
</html>
