{% load static %}

<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'dashboard.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        <p>Welcome {{ user_name }}</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'tinymce' %}">New Post</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                {% for obj in blog%}
                <div class="card" onclick="viewblog({{ obj.id }})" style="width: 20rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{ obj.title }}</h5>
                      <p class="card-text"><b>Untitled<b></p>
                      <a href="{% url 'view_blog' obj.id %}" class="btn btn-primary">View</a>
                    </div>
                  </div>
                  {% endfor %}
                {% comment %} <div class="row">
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <!-- /#wrapper -->
<!-- partial -->
<script>
    function viewblog(blogid){
        var blogsection = document.querySelectorAll('[id^="content"]');
        blogsection.forEach(function(section){
            section.style.display = 'none';
        });
        var blogsection = document.getElementById('content' + blogid);
        blogsection.style.display = "block";
    }
</script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js'></script>
<script  src="{% static 'dashboard.js' %}" > </script>


</body>
</html>
