{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Blog </title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
    <link rel="stylesheet" href="{% static 'tinymce.css' %}">

</head>

<body>


    <!-- partial:index.partial.html -->
    <div id="html-app" class="container-fluid">
        <div class="row">
            <div class="col">
                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="input-wrapper">
                        <input type="text" name="blogTitle" id="blogTitle" value="{{ blogTitle }}"
                            placeholder="Blog Title">
                    </div>
                    <textarea id="textarea" name="textarea"> {{ blog_content }} </textarea>
                    <button name="submitbtn">Save</button>
                </form>


                {% comment %}
            </div>
        </div>

    </div> {% endcomment %}

    <script src='https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.2/tinymce.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js'></script>
    <script src="{% static 'tinymce.js' %}"></script>

</body>

</html>